<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Casos Confirmados da Covid19</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body>
      <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <span class="navbar-brand mb-0 h1"><h1>Covid19 pelo Mundo</h1></span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/confirmados">Confirmados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/recuperados">Recuperados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mortos">Óbitos</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div>
        <p class="lead">
          Confira abaixo o número de casos Confirmados de Covid por Região, em todo o Mundo.
        </p>
      </div>

      <div class="table-responsive-md">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">País</td>
              <th scope="col">Cidade</td>
              <th scope="col">Casos Confirmados</td>
              <th scope="col">Última Atualização</td>
            </tr>
          </thead>

          <tbody>
            <% @confirmed.each do |confirmed| %>
              <tr>
                <td><%= confirmed["countryRegion"] %></td>
                <td><%= confirmed["provinceState"] %></td>
                <td><%= confirmed["confirmed"] %></td>
                <td><%= Time.at(confirmed["lastUpdate"].to_i/1000).strftime('%d/%m/%Y %H:%M:%S') %></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>

</html>