<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Dados Gerais da Covid19 pelo Mundo</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1"><h1>Covid19 pelo Mundo</h1></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/confirmados">Confirmados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recuperados">Recuperados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mortos">Óbitos</a>
            </li>
          </ul>
        </div>
      </nav>
      <h1> Dados atualizados Covid19 </h1>
      <p class="lead">
        Confira abaixo os números gerais de casos da Covid pelo Mundo.
      </p>
      <p> Confirmados: <%= @summary['confirmed']['value']%> </p>
      <p> Recuperados: <%= @summary['recovered']['value']%> </p>
      <p> Mortos: <%= @summary['deaths']['value']%> </p>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>

</html>

